body {
    background-color: #2a2646;
    color: #f9f9f9;
    font-family: helvetica;
  }
  
  h1 {
    color: #ccc;
  }
  .container{
    width: 100%;
    margin: 0 auto;
    margin-top:50px;
  }
  
  #map_container{
    position: relative;
  }
  #map{
      height: 0;
      overflow: hidden;
      padding-bottom: 22.25%;
      padding-top: 30px;
      position: relative;
  }
  .button{
    background-color: #4d4d4d;
    color: #ccc;
    display: inline-block;
    margin: 15px;
    width: 25%;
  }
  
